/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ------------ MOBILE FIRST DESIGN ------------- */

/***********BASE STYLES**********/

html, body {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 16px;
}

body {
    color: #333333;
    font-family: 'Questrial', sans-serif;
}

header {
    background: url('../img/polkadots.png');
    width: 100%;
}

h1 {
    color: #b26791;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5em;
    font-weight: normal;
}

h2 {
    font-weight: normal;
    font-size: 1em;
}

p {
    font-size: 0.75em;
}

img {
    width: 100%;
}

/***********GRID**********/

.full-width {
    width: 100%;
    margin: 0 auto;
}

.navigation-mobile {
    background: url('../img/polkadots.png');
    border-bottom: 3px solid #999999;
    border-top: 3px solid #999999;
    width: 100%;
    height: auto;
}

/* .mobile-welcome {
    width: 100%;
    height: auto;
} */

/***********HOME**********/


.welcome-mobile {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 66.67%; /*makes background image responsive*/
    background: url('../img/workspace-ericabross-logo.png') center no-repeat;
    background-size: contain;
    position: relative;
}

.welcome-desktop {
    display: none;
}

.navigation-desktop {
    display: none;
}

.greeting-text {
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 58%;
    margin-left: 2%;
}

header h2 {
    font-family: 'prata', serif;
    font-size: .95em;
    margin-top: 0;
    text-align: justify;
}

header h2 span {
    color: #b26791;
}

.contact-button {
    /* position */
    position: absolute;
    bottom: 2%;
    right: 8%;
    /* create circle */
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: white;
}


.contact-button p {
    color: #66cccc;
    text-align: center;
    padding: 10% 10% 10% 10%;
}

.navigation-mobile nav {
    padding: 10px 0;
}

ul li {
    list-style-type: none;
}

.navigation-mobile ul li {
    background-color: white;
    list-style-type: none;
    text-align: center;
    line-height: 4.5em;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: -1%;
}

nav ul li a {
    color: #333333;
    font-family: 'prata', serif;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    }


/***********ABOUT**********/

#about {
    background-color: #ffcccc;
    width: 100%;
    height: auto;
}

.mobile-section-header {
    visibility: visible;
}

.tablet-section-header {
    display: none;
}

#about img {
    border: 5px solid white;
    width: 33.3%;
    margin-right: 33.3%;
    margin-left: 33.3%;
    margin-bottom: 0;
}

#about h1 {
  margin: 0;
  padding: 5% 5%;
    
}

.bio-text {
    padding-top: 5%;
    padding-bottom: 5%;
}

#about p {
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    line-height: 2em;
}

#skills {
    background-color: #ffcccc;
    text-align: center;
    display: flex;
    line-height: 1.25em;
}

.skills-items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.skills-icons {
    display: flex;
    flex-flow: column wrap;
    align-self: flex-start;
    align-items: center;
    width: 38%;
    margin: 5%;
 }

#skills img {
    width: 85%;
}

/***********PORTFOLIO**********/

.portfolio-buttons-tablet {
    display: none;
}

.portfolio-buttons-desktop {
    display: none;
}

#portfolio {
    background: url('../img/polkadots.png'); 
}

#portfolio h1 {
    background-color: white;
    padding-left: 5%;
    margin-bottom: 40px;
}

#portfolio .full-width {
    padding: 5% 0 10% 0;
}

.portfolio-buttons-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.portfolio-buttons-mobile img {
    margin: 0 7.5%;
    width: 85%;  
}

#portfolio h2 {
    font-family: 'prata', serif;
    font-size: 1.25em;
    color: #b26791;
    text-align: center;
    margin-bottom: 0;
}

#other-projects {
    margin-left: 10%;
    margin-right: 10%;
}

#portfolio p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}


/***********CONTACT**********/

#contact {
    background-color: #b26791;
    height: auto;
}

#contact-img {
    border: 5px solid white;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
}

#contact h1 {
    color: white;
    margin-left: 5%;
    margin-top: 0;
    padding-top: 5%;
}

#contact h2 {
    color: white;
    font-family: 'prata', serif;
    font-size: 1.25em;
    margin-left: 7%;
    margin-top: ;
}

#contact a {
    text-decoration: none;
    color: white;
}

#contact ul img {
    margin-bottom: 0;
    padding-bottom: 50%;
    padding-top: 35%;
    padding-right: 2%;
    width: 60%;
}

.contact-icons {
    width: 7%;
}

.contact-icons img {
    width: 50%;
}

.social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.social-media p {
    height: 40px;
    width: 40px;
    background-color: #ffcccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media p i {
  color: #b26791;
  font-size: 24px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 640px) {
    /* TABLET STYLES */

    /***********BASE STYLES**********/

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.125em;
    }

    /***********HOME**********/

    
    /* nav ul li {
        padding-left: 10%;
    } */

    nav ul li a {
        font-size: 1.875em;
    }   

    header h2 {
        font-size: 1.5em;
        
    }

    .contact-button {
    /* position */
    position: absolute;
    bottom: 2%;
    right: 8%;
    /* create circle */
    width: 200px;
    height: 200px;
    }

    .contact-button p {
        padding: 15% 15% 15% 15% ;
    }

    /***********ABOUT**********/

    #about .full-width  {
        display: grid;
        grid-template: auto auto / 34% 54%; 
        grid-gap: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .mobile-section-header {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    } 

    #about h1 {
        padding-left: 0;
    }

    .about-pic {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    #about img {
        width: 85%;
        margin: 0;
    } 

    .bio {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .bio-text {
        padding: 0;
    }

    #about p {
        line-height: 1.5em;
        padding: 0;
    }

    #skills {
        line-height: 1.5em;
    }

    .skills-icons {
        width: 33%;
        margin: 8%;
    }

    #skills img {
        width: 65%;
    }

/***********PORTFOLIO**********/

    
    #portfolio h1 {
        margin-top: -5%;
        margin-bottom: -1%;
        padding-bottom: 1%;
    }

    #portfolio .full-width {
        height: auto;
    }

    .portfolio-buttons-mobile {
        display: none;
    } /*Hide mobile portfolio*/

    .portfolio-buttons-tablet {
        display: inline-block;
        position: relative;
        float: left;
        width: 50%;
        padding-bottom: 33.3%; /*makes images appear*/
        overflow: hidden;
        height: auto;
    }

    #portfolio h2 {
        font-size: 1.5em;
    }

    #portfolio a {
        text-decoration: none;
        color: #333;
    }

                            /* THE COLLINS HOVER OVERLAY */

    #portfolio-img-collins {
        background: url('../img/the-collins-preview.png') center no-repeat;
        background-size: cover;
        overflow-x: hidden;
        height: auto;
    }

    .collins-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #ffcccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio-buttons-tablet:hover .collins-overlay {
        opacity: 1;
    }

    .portfolio-buttons-tablet:active .collins-overlay {
        opacity: 1;
    } /* hover for touch screens */


    .collins-overlay-text {
        position: absolute;
        padding: 0 5%;
    }

                        /* ACCELERATE WORDPRESS HOVER OVERLAY */

    #portfolio-img-wordpress {
        background: url('../img/accelerate-wp-preview-wine.png') center no-repeat;
        background-size: cover;
        overflow-x: hidden;
        height: auto;
    }

    .wordpress-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #b26791;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio-buttons-tablet:hover .wordpress-overlay {
        opacity: 1;
    }

    .portfolio-buttons-tablet:active .wordpress-overlay {
        opacity: 1;
    } /* hover for touch screens */


    .wordpress-overlay-text {
        position: absolute;
        padding: 0 5%;
    }



                            /* CITY CYCLES HOVER OVERLAY */
    #portfolio-img-city-cycles {
        background: url('../img/city-cycles-preview-yellow.png') center no-repeat;
        background-size: cover;
        overflow-x: hidden;
        height: auto;
    }

    .city-cycles-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #fff8c6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio-buttons-tablet:hover .city-cycles-overlay {
        opacity: 1;
    }

    .portfolio-buttons-tablet:active .city-cycles-overlay {
        opacity: 1;
    } /* hover for touchscreens */


    .city-cycles-overlay-text {
        position: absolute;
        padding: 0 5%;
    }

                            /* UNPLUGGED HOVER OVERLAY */
    #portfolio-img-unplugged {
        background: url('../img/unplugged-preview-blue.png') center no-repeat;
        background-size: cover;
        overflow-x: hidden;
        height: auto;
    }

    .unplugged-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #66cccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio-buttons-tablet:hover .unplugged-overlay {
        opacity: 1;
    }

    .portfolio-buttons-tablet:active .unplugged-overlay {
        opacity: 1;
    } /* hover for touchscreens */


    .unplugged-overlay-text {
        position: absolute;
        padding: 0 5%;
    }
                            
                            /* GRIND BRANDING HOVER OVERLAY */
    #portfolio-img-grind-branding {
        background: url('../img/grind-branding-guide-preview.png') center no-repeat;
        background-size: cover;
        overflow-x: hidden;
        height: auto;
    }

    .grind-branding-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #ffcccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio-buttons-tablet:hover .grind-branding-overlay {
        opacity: 1;
    }

    .portfolio-buttons-tablet:active .grind-branding-overlay {
        opacity: 1;
    } /* hover for touchscreens */

    .grind-branding-overlay-text {
        position: absolute;
        padding: 0 5%;
    }

                            /* GRIND LANDING HOVER OVERLAY */
    #portfolio-img-grind-landing {
        background: url('../img/grind-landing-page-preview-wine.png') center no-repeat;
        background-size: cover;
        overflow-x: hidden;
        height: auto;
    }

    .grind-landing-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #b26791;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio-buttons-tablet:hover .grind-landing-overlay {
        opacity: 1;
    }

    .portfolio-buttons-tablet:active .grind-landing-overlay {
        opacity: 1;
    } /* hover for touchscreens */

    .grind-landing-overlay-text {
        position: absolute;
        padding: 0 5%;
    }

                            /* DOROTHY DELONG HOVER OVERLAY */
    #portfolio-img-delong {
        background: url('../img/dorothy-delong-preview-yellow.png') center no-repeat;
        background-size: cover;
        overflow-x: hidden;
        height: auto;
    }

    .delong-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #fff8c6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio-buttons-tablet:hover .delong-overlay {
        opacity: 1;
    }

    .portfolio-buttons-tablet:active .delong-overlay {
        opacity: 1;
    } /* hover for touchscreens */

    .delong-overlay-text {
        position: absolute;
        padding: 0 5%;
    }
                            
                            /* MAGIC 8-BALL HOVER OVERLAY */
    #portfolio-img-magic-8-ball {
        background: url('../img/magic-8-ball-js-preview-blue.png') center no-repeat;
        background-size: cover;
        overflow-x: hidden;
        height: auto;
    }

    .magic-8-ball-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #66cccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio-buttons-tablet:hover .magic-8-ball-overlay {
        opacity: 1;
    }

    .portfolio-buttons-tablet:active .magic-8-ball-overlay {
        opacity: 1;
    } /* hover for touchscreens */

    .magic-8-ball-overlay-text {
        position: absolute;
        padding: 0 5%;
    }

/***********CONTACT**********/

    .hide {
        display: none;
    }

    #contact .mobile-section-header {
        display: none;
    }

    .tablet-section-header {
        display: inline-block;
    }

    .third-width {
        float:left;
        width: 33%;
    }

    #contact-img {
        width: 100%;
        margin-left: 10%;
        margin-top: 15%;
    }

    .two-thirds-width {
        float: left;
        width: 60%;
        margin-left: 5%;
    }

    #contact h1 {
        font-size: 3em;
        margin-bottom: 0;
    }

    #contact h2 {
        margin-top: 0;
    }

    .contact-icons {
        width: 7%;
    }

    .social-media {
        width: 80%;
        padding-right: 10%;
        padding-left: 10%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #contact ul img {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    /* DESKTOP STYLES */

   /***********BASE STYLES**********/

    h1 {
        font-size: 3.75em;
    }

    h2 {
        font-size: 2.25em;
    }

    .full-width {
        max-width: 1200px;
        margin: auto;    
    }


    /***********HOME**********/

    .navigation-mobile {
        display: none;
    }

    .nav-wrapper {
        background: white;
        width: 100%;
        height: auto;
        padding-bottom: 0.5%;
        text-align: center;
    }

    .navigation-desktop {
        display: flex;
        max-width: 1200px;
        padding-top: 10px;
        margin:0 auto;
    }

    header nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        width: 100%; 
    }

    header nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        padding-left: 0;
        margin: 0;
    }
         
    .welcome-mobile {
        display: none;
    }

    .greeting-text {
        display: none;
    }

    .contact-button {
        display: none;
    }

    .welcome-desktop {
        display: inline;
        margin: 0 auto;
        width: 100%;
        height: auto;
        max-width: 1200px;
    }

    .workspace-img {
        background:url('../img/workspace-ericabross-logo.png') center no-repeat;
        display: block;
        width: 75%;
        margin: auto;
        min-height: 627px;
        min-width: 960px;
        max-width: 1200px;
        position: relative;
    }

    .greeting-text-desktop {
        position: absolute;
        left: 12%;
        bottom: 0;
        width: 48%;         
    }

    .contact-button-desktop {
        /* position */
        position: absolute;
        bottom: 2%;
        right: 8%;
        /* create circle */
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: white;
    }

    .contact-button-desktop p {
        color: #66cccc;
        text-align: center;
        padding: 15%;
    }
   
    /***********ABOUT**********/

    
    #about .full-width {
        padding: 2% 0 2% 0;
    }

    #about h1 {
        padding-bottom: 0;
    }

    .about-pic {
        justify-self: end;
        width: 70%;
    }

    #about p {
        line-height: 2em;
    }

    #skills {
        line-height: 2em;
    }

    .skills-icons {
        width: 25%;
        margin: 2%;
    }

    #skills img {
        width: 60%;
    }

/***********PORTFOLIO**********/

    #portfolio {
        margin-top:0 auto;
    }

    #portfolio .full-width {
        padding-top: 0;
        padding-bottom: 0;
    }

    #portfolio img {
        width: 100%;
    }

    #portfolio h1 {
        margin-top:0;
    }

    #portfolio h2 {
        font-size: 2.25em;
    }

    .portfolio-buttons-tablet {
        display: none;
    }

    .portfolio-buttons-desktop {
        display: inline-block;
        font-size: .75em;
        position: relative;
        float: left;
        width: 33.3%;
        padding-bottom: 21.1%;
        overflow: hidden;
        height: auto;
    }

                    /* COLLINS OVERLAY */
    .portfolio-buttons-desktop:hover .collins-overlay {
        opacity: 1;
    }

    .portfolio-buttons-desktop:active .collins-overlay {
        opacity: 1;
    } /* hover for touch screens */

                /* ACCELERATE OVERLAY */
    #portfolio-img-wordpress {
        background: url('../img/accelerate-wp-preview-yellow.png') center no-repeat;
    }

    .wordpress-overlay {
        background-color: #fff8c6;
    }
    .portfolio-buttons-desktop:hover .wordpress-overlay {
        opacity: 1;
    }

    .portfolio-buttons-desktop:active .wordpress-overlay {
        opacity: 1;
    } /* hover for touch screens */

                /* CITY CYCLES OVERLAY */
    #portfolio-img-city-cycles {
        background: url('../img/city-cycles-preview-pink.png') center no-repeat;
    }

    .city-cycles-overlay {
        background-color: #ffcccc;
    }
    
    .portfolio-buttons-desktop:hover .city-cycles-overlay {
        opacity: 1;
    }

    .portfolio-buttons-desktop:active .city-cycles-overlay {
        opacity: 1;
    } /* hover for touch screens */

                /* UNPLUGGED OVERLAY */

    #portfolio-img-unplugged {
        background: url('../img/unplugged-preview-yellow.png') center no-repeat;
    }

    .unplugged-overlay {
        background-color: #fff8c6;
    }

    .portfolio-buttons-desktop:hover .unplugged-overlay {
        opacity: 1;
    }

    .portfolio-buttons-desktop:active .unplugged-overlay {
        opacity: 1;
    } /* hover for touch screens */

                /* GRIND BRANDING OVERLAY */

    .portfolio-buttons-desktop:hover .grind-branding-overlay {
        opacity: 1;
    }

    .portfolio-buttons-desktop:active .grind-branding-overlay {
        opacity: 1;
    } /* hover for touch screens */

                    /* GRIND LANDING PAGE OVERLAY */
    #portfolio-img-grind-landing {
        background: url('../img/grind-landing-page-preview-yellow.png') center no-repeat;
    }

    .grind-landing-overlay {
        background-color: #fff8c6;
    }
    
    .portfolio-buttons-desktop:hover .grind-landing-overlay {
        opacity: 1;
    }

    .portfolio-buttons-desktop:active .grind-landing-overlay {
        opacity: 1;
    } /* hover for touch screens */

                    /* DOROTHY DELONG OVERLAY */
    #portfolio-img-delong {
        background: url('../img/dorothy-delong-preview-pink.png') center no-repeat;
    }

    .delong-overlay {
        background-color: #ffcccc;
    }
    
    .portfolio-buttons-desktop:hover .delong-overlay {
        opacity: 1;
    }

    .portfolio-buttons-desktop:active .delong-overlay {
        opacity: 1;
    } /* hover for touch screens */

                    /* MAGIC 8-BALL OVERLAY */

    #portfolio-img-magic-8-ball {
        background: url('../img/magic-8-ball-js-preview-yellow.png') center no-repeat;
    }

    .magic-8-ball-overlay {
        background-color: #fff8c6;
    }

    .portfolio-buttons-desktop:hover .magic-8-ball-overlay {
        opacity: 1;
    }

    .portfolio-buttons-desktop:active .magic-8-ball-overlay {
        opacity: 1;
    } /* hover for touch screens */

    /* COLOR BLOCKS */

    #color-block-wine {
        display: inline;
        background: #b26791;
        float: left;        
        position: relative;
        overflow-x: hidden;
        overflow-y:scroll;
        height: auto;
    }

    #color-block-pink {
        float: left;
        display: inline;
        background: #ffcccc;
        position: relative;
        overflow-x: hidden;
        overflow-y:scroll;
        height: auto;
    }

    #color-block-blue {
        display: inline;
        float: left;
        background: #66cccc;
        position: relative;
        overflow-x: hidden;
        overflow-y:scroll;
        height: auto;
    }

    #color-block-yellow {
        display: inline;
        float: left;
        background: #fff8c6;
        position: relative;
        overflow-x: hidden;
        overflow-y:scroll;
        height: auto;
    }

    #portfolio {
        border-bottom: 3px solid #999999;
    }

/***********CONTACT**********/

    #contact .full-width {
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 50px;
    }

    .third-width {
        width: 25%;
    }

    #contact-img {
        width: 95%;
    }

    .two-thirds-width {
        width: 35%;
    }

    #contact h1 {
        margin-top: 10%;
        margin-bottom: 5%;    
    }

    #contact h2 {
        font-size: 1.5em;
    }

    .contact-icons {
        width: 10%;
    }
 
    .social-media {
        width: 30%;
        padding: 0;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
